[submodule "MarketPlace"]
	path = MarketPlace
	url = https://github.com/FilipeBispo/MarketPlace.git
[submodule "turbin3-req"]
	path = turbin3-req
	url = https://github.com/FilipeBispo/turbin3-req.git
[submodule "turbin3-preq2"]
	path = turbin3-preq2
	url = https://github.com/FilipeBispo/turbin3-preq2.git
[submodule "vault"]
	path = vault
	url = https://github.com/FilipeBispo/vault.git
